In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.4.4

In [3]:
s1=pd.Series()

C:\Users\Admin\AppData\Local\Temp\ipykernel_24896\1278164847.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s1=pd.Series()

In [4]:
s1

Series([], dtype: float64)

In [5]:
s2=pd.Series([1,2,2,3,9,10,"haramzade"])

In [6]:
s2

0            1
1            2
2            2
3            3
4            9
5           10
6    haramzade
dtype: object

In [7]:
series3=pd.Series([2.1,1.2,63,22,2.30451])

In [8]:
series3

0     2.10000
1     1.20000
2    63.00000
3    22.00000
4     2.30451
dtype: float64

Creating series using range method

In [9]:
ser1=pd.Series(range(50))

In [10]:
ser1

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
dtype: int64

In [11]:
# dataframe

In [12]:
df1=pd.DataFrame()

In [13]:
df1

Empty DataFrame
Columns: []
Index: []

In [14]:
lst1=[10,20,30,40,50]

In [15]:
df2=pd.DataFrame([lst1])

In [16]:
df1=pd.DataFrame((ser1))

In [17]:
print(df2,df1)

    0   1   2   3   4
0  10  20  30  40  50      0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19
20  20
21  21
22  22
23  23
24  24
25  25
26  26
27  27
28  28
29  29
30  30
31  31
32  32
33  33
34  34
35  35
36  36
37  37
38  38
39  39
40  40
41  41
42  42
43  43
44  44
45  45
46  46
47  47
48  48
49  49

In [18]:
df2

    0   1   2   3   4
0  10  20  30  40  50

In [19]:
df1

     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19
20  20
21  21
22  22
23  23
24  24
25  25
26  26
27  27
28  28
29  29
30  30
31  31
32  32
33  33
34  34
35  35
36  36
37  37
38  38
39  39
40  40
41  41
42  42
43  43
44  44
45  45
46  46
47  47
48  48
49  49

In [20]:
# CREATING THE DATAFRAME USING THE NESTED DICTONARY

In [21]:
data1=[["mridul",21],["kamla",28],["ravikant",52]]

In [22]:
data1

[['mridul', 21], ['kamla', 28], ['ravikant', 52]]

In [23]:
df2=pd.DataFrame(data1,columns=["name","age"])

In [24]:
print(df2)

       name  age
0    mridul   21
1     kamla   28
2  ravikant   52

In [25]:
stu_marks=pd.Series({"kausal":90,"rahul":95,"kalua":52})

In [26]:
stu_age=pd.Series({"kausal":24,"rahul":35,"kalua":28})

In [27]:
student_df=pd.DataFrame({"Marks":stu_marks,"Age":stu_age})

In [28]:
student_df

        Marks  Age
kausal     90   24
rahul      95   35
kalua      52   28

In [29]:
pd.Series(index=ser1,data=ser1**2)

0        0
1        1
2        4
3        9
4       16
5       25
6       36
7       49
8       64
9       81
10     100
11     121
12     144
13     169
14     196
15     225
16     256
17     289
18     324
19     361
20     400
21     441
22     484
23     529
24     576
25     625
26     676
27     729
28     784
29     841
30     900
31     961
32    1024
33    1089
34    1156
35    1225
36    1296
37    1369
38    1444
39    1521
40    1600
41    1681
42    1764
43    1849
44    1936
45    2025
46    2116
47    2209
48    2304
49    2401
dtype: int64

In [30]:
s12=pd.Series([1,2,2,3,9,10,"haramzade", "Kutte"])

In [31]:
s12.index

RangeIndex(start=0, stop=8, step=1)

In [32]:
s12.values

array([1, 2, 2, 3, 9, 10, 'haramzade', 'Kutte'], dtype=object)

In [33]:
s12

0            1
1            2
2            2
3            3
4            9
5           10
6    haramzade
7        Kutte
dtype: object

In [34]:
s12.dtype

dtype('O')

In [35]:
s12.shape

(8,)

In [36]:
s12.nbytes

64

In [37]:
s12.ndim

1

In [38]:
s12.size

8

In [39]:
s12.hasnans

False

print(s12.head())

In [40]:
s13=(s12.head())

In [41]:
print(s12.tail())

3            3
4            9
5           10
6    haramzade
7        Kutte
dtype: object

In [42]:
s13<5

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [43]:
s13

0    1
1    2
2    2
3    3
4    9
dtype: object