In [1]:
import pandas as pd

In [2]:
student={"name":["kallu","mallu","pallu"],"English":[42,52,53],"Physics":[52,53,54]}

In [3]:
df = pd.DataFrame(student)

In [4]:
df

    name  English  Physics
0  kallu       42       52
1  mallu       52       53
2  pallu       53       54

In [5]:
df=pd.DataFrame(student,index=["sno1","sno2","sno3"])

In [6]:
df

       name  English  Physics
sno1  kallu       42       52
sno2  mallu       52       53
sno3  pallu       53       54

In [7]:
# Changing the index of data frame

In [8]:
df.set_index("name",inplace=True)

In [9]:
df

       English  Physics
name
kallu       42       52
mallu       52       53
pallu       53       54

In [10]:
# Reset Column index number

In [11]:
df.reset_index(inplace=True)

In [14]:
import numpy as np

In [15]:
df

    name  English  Physics
0  kallu       42       52
1  mallu       52       53
2  pallu       53       54

In [16]:
series3=pd.Series([5,6,7,8,np.NAN,8,np.NAN,9])

In [17]:
series3

0    5.0
1    6.0
2    7.0
3    8.0
4    NaN
5    8.0
6    NaN
7    9.0
dtype: float64

In [18]:
series3

0    5.0
1    6.0
2    7.0
3    8.0
4    NaN
5    8.0
6    NaN
7    9.0
dtype: float64

In [19]:
import numpy as np

In [20]:
import pandas as pd

In [21]:
s={"adam":1,"boy":2,"cat":3,"doll":4}

In [22]:
s1=np.arange(10,15)

In [23]:
print(s1)

[10 11 12 13 14]

In [24]:
df1=pd.DataFrame(
{
  "Name":["Kalua","Murgichor","kaluthi","baigani","koyla wale","Batkharachorni"],
    "Age":[22,23,24,25,25,28],
    "Sex":["male","male","female","male","male","female"],"Weight":[85,91,92,90,95,85],"Height in CM":[150,155,156,158,160,162]
}
)

In [25]:
df1

             Name  Age     Sex  Weight  Height in CM
0           Kalua   22    male      85           150
1       Murgichor   23    male      91           155
2         kaluthi   24  female      92           156
3         baigani   25    male      90           158
4      koyla wale   25    male      95           160
5  Batkharachorni   28  female      85           162

In [26]:
df1[0:3]
# slicing

        Name  Age     Sex  Weight  Height in CM
0      Kalua   22    male      85           150
1  Murgichor   23    male      91           155
2    kaluthi   24  female      92           156

In [27]:
df1[1:5]

         Name  Age     Sex  Weight  Height in CM
1   Murgichor   23    male      91           155
2     kaluthi   24  female      92           156
3     baigani   25    male      90           158
4  koyla wale   25    male      95           160

In [28]:
df2=pd.DataFrame(
    {"Company":["RCM","Quantum","BT"],
     "Turnover":["10 cr","12 cr","2 cr"],
     "Sector":["Service","Service","Service"],
     "Work days":["5 Days","5 Days","4 Days"],
     "Location":["Delhi","Noida","Gurgaon"]
    }
)

In [29]:
df2

   Company Turnover   Sector Work days Location
0      RCM    10 cr  Service    5 Days    Delhi
1  Quantum    12 cr  Service    5 Days    Noida
2       BT     2 cr  Service    4 Days  Gurgaon

In [30]:
df2[1:2]

   Company Turnover   Sector Work days Location
1  Quantum    12 cr  Service    5 Days    Noida

In [31]:
df3=pd.read_excel("D:\\Emp demo.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Emp demo.xlsx'

In [32]:
df3

NameError: name 'df3' is not defined

In [33]:
df3[12:23]

NameError: name 'df3' is not defined

In [34]:
df4=pd.read_excel("C:\\Users\\rcmlp.12\\Desktop\\misc\\Babu sir\\b747-18aug-23-aug-rahul_babu sir.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\rcmlp.12\\Desktop\\misc\\Babu sir\\b747-18aug-23-aug-rahul_babu sir.xlsx'

In [35]:
df4

NameError: name 'df4' is not defined

In [36]:
df5=df4[0:101]

NameError: name 'df4' is not defined

In [37]:
df6=df5.iloc[:,0:10]

NameError: name 'df5' is not defined

In [38]:
df6

NameError: name 'df6' is not defined

In [39]:
df6["AGE"]=45

NameError: name 'df6' is not defined

In [40]:
df6

NameError: name 'df6' is not defined

In [41]:
df6.to_excel("dataframe6.xlsx")

NameError: name 'df6' is not defined

In [42]:
df6["AGE2"]=54

NameError: name 'df6' is not defined

In [43]:
df6["AGE3"]=23

NameError: name 'df6' is not defined

In [44]:
df6["TOTAL"]=df6["AGE"]+df6["AGE2"]+df6["AGE3"]

NameError: name 'df6' is not defined

In [45]:
df6

NameError: name 'df6' is not defined

In [46]:
df3

NameError: name 'df3' is not defined

In [47]:
df4=df3.fillna(41)

NameError: name 'df3' is not defined

In [48]:
df4

NameError: name 'df4' is not defined

In [49]:
sd3=pd.concat([df3,df4])
sd3

NameError: name 'df3' is not defined

In [50]:
sd2=pd.concat([df3,df4],ignore_index=True)
sd2

NameError: name 'df3' is not defined

In [51]:
sd4=pd.concat([df3,df4],axis=1)
sd4

NameError: name 'df3' is not defined